VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
VITE_GOOGLE_CLIENT_ID=
VITE_RAZORPAY_KEY_ID=rzp_test_your_key

# Google AdSense
# Google AdSense - Test Mode
VITE_ADS_ENABLED=true
VITE_ADSENSE_CLIENT=ca-pub-3940256099942544
VITE_AD_SLOT_TOP_BANNER=6300978111
VITE_AD_SLOT_SIDEBAR=2934735716
VITE_AD_SLOT_IN_FEED=1033173712
VITE_AD_SLOT_POST_SUBMIT=8691691433
VITE_AD_SLOT_RESULT=4270238493
